@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: 0, 0, 0;
  --background-color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: 255, 255, 255;
    --background-color: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-color));
  background: rgb(var(--background-color));
}

button:disabled {
  background-color: #999;
  color: #333
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: .5rem;
}

.product {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: #eee;
  border-radius: .5rem;
  padding: .5rem;
}